{% extends 'seeds/layout.html' %}
{% load static %}

<title>Planted</title>

{%  block body %}
 <table>
        <tr>
            <th>Seed</th>
            <th>Seed subname</th>
            <th>Seed description</th>
            <th>Location</th>
            <th>Date Planted</th>
            <th>Expected Germination</th>
            <th>Expected Harvest</th>
            <th>Suggested successor</th>
        </tr>

        {% for plant in planted %}
        <tr>
            <td>{{ plant.seed.name }}</td>
            <td>{{ plant.seed.subname }}</td>
            <td>{{ plant.seed.description }}</td>
            <td>{{ plant.location }}</td>
            <td>{{ plant.date }}</td>
            <td>Date planted plus date germination</td>
            <td>Date planted plus date harvest</td>
            <td>Plant this after(link to seed)</td>
        {% endfor %}
{% endblock %}