{% extends 'seeds/layout.html' %}
{%  load static %}

{% block body %}

<h1>This is the purpose of this app (but it doesn't do anything yet!!)!!</h1>
<select name="seed" id="seed">
    {%  for seed in seeds %}
        <option value="{{  seed }}"> {{ seed }}</option>
    {% endfor %}
</select>
<select name="bed" id="bed">
    {%  for bed in beds %}
        <option value="{{  bed }}">  {{ bed }}</option>
    {% endfor %}
</select>

    <input type="submit" value="PLANT!"/>

    </br>
    </br>
<img src="{% static 'seeds/images/the_garden.jpg' %}" alt="A Picture of My Garden"/>

{% endblock %}