{% extends 'seeds/layout.html' %}
{% load static %}

<title>Planted</title>

{%  block body %}
    <h1>All the wonderfulness you've already planted!</h1>
    <p><a href = {% url 'index' %}>Home Page</a></p>

    <table>
    <tr>
        <th>Seed</th>
        <th>Location</th>
        <th>Planted Date</th>
        <th>Germination Date</th>
        <th>Harvest Date</th>
    </tr>

    {% for plant in planted %}
        <tr>
        <td>{{ plant.seed }}</td>
        <td>{{ plant.location }}</td>
        <td>{{ plant.date }}</td>
        <td>{{ plant.date_germination }}</td>
        <td>{{ plant.date_harvest }}</td>
        </tr>
    {%  endfor %}
    </table>

{% endblock %}