{% extends 'seeds/layout.html' %}

<title>Seeds</title>

{% block body %}
    <table>
        <tr>
            <th>Name</th>
            <th>Subname</th>
            <th>Description</th>
            <th>Sow</th>
            <th>Harvest</th>
        </tr>

        {% for seed in seeds %}

        <tr>
            <td>{{ seed.name }} </td>
            <td>{{ seed.subname }} </td>
            <td>{{ seed.description }} </td>
            <td>{{ seed.sow }} </td>
            <td>{{ seed.harvest }} </td>
        </tr>

        {% endfor %}
    </table>
{% endblock %}